<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="local" name="loggingMode" source="logging.mode" defaultValue="text"/>

    <if condition='property("loggingMode").equals("json")'>
        <then>
            <springProperty scope="context" name="application_name" source="spring.application.name"/>
            <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>
                        %d{yyyy-MM-dd HH:mm:ss} [%thread] %X{userLogin} %-5level %logger{36} - %msg%n
                    </Pattern>
                </layout>
            </appender>
        </else>
    </if>

    <logger name="com.ecaservice.external.api" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
