.details-panel {
  background: white;
  padding: 8px;
}

.no-evaluation-results-row {
  background: white;
}

.link {
  color: #3397ff;
}

.info-panel::ng-deep {

  .ui-panel {
    width: 450px;
    max-height: 600px;
    overflow-y: scroll;
  }
}

.details-fieldset::ng-deep {

  .ui-fieldset {
    margin-top: 10px;
  }

  .ui-fieldset-legend {
    font-weight: bold;
    font-size: 16px;
  }
}

.app-progress-spinner::ng-deep {
  .ui-progress-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    width: 200px;
    height: 200px;
    z-index: 100000;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
      stroke: #416ee7;
    }
    40% {
      stroke: #416ee7;
    }
    66% {
      stroke: #416ee7;
    }
    80%,
    90% {
      stroke: #416ee7;
    }
  }
}
