<div class="container-fluid mb-5">
  <div class="row search-content mt-2">
    <div class="col-6 justify-content-start">
      <button
        pButton
        label="Создать конфигурацию"
        icon="pi pi-plus"
        type="button"
        (click)="showEditClassifiersConfigurationDialog()"
        class="ml-2 mt-2 mb-2">
      </button>
    </div>
    <div class="col-6">
      <app-search-query (search)="onSearch($event)">
      </app-search-query>
    </div>
  </div>
  <p-table
    class="configurations-table"
    [columns]="columns"
    [value]="items"
    [rows]="pageSize"
    [paginator]="true"
    [sortField]="defaultSortField"
    [sortOrder]="defaultSortOrder"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="onLazyLoad($event)">

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <ng-container *ngFor="let column of columns">
          <th *ngIf="!notSortable(column.name)" [pSortableColumn]="column.name">
            {{ column.label }}
            <p-sortIcon [field]="column.name"></p-sortIcon>
          </th>
          <th *ngIf="notSortable(column.name)">{{ column.label }}</th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [ngClass]="{'item-blink': isBlink(item)}">
        <td>
          <app-classifiers-configuration-menu
            [classifiersConfiguration]="item"
            [templates]="templates"
            (onDelete)="onDeleteClassifiersConfiguration($event)"
            (onSetActive)="onSetActiveClassifiersConfiguration($event)"
            (onUploadClassifiers)="showUploadClassifiersOptionsDialogVisibility($event)"
            (onRename)="showEditClassifiersConfigurationDialog($event)"
            (onCopy)="showCopyClassifiersConfigurationDialog($event)"
            (onDownloadReport)="onDownloadReport($event)"
            (onAddClassifierOptions)="onChooseClassifierOptionsTemplate($event)">
          </app-classifiers-configuration-menu>
        </td>
        <td *ngFor="let column of columns">
          <a class="link" [routerLink]="" *ngIf="isLink(column.name)" (click)="onLink($event, column.name, item)">
            {{ getColumnValue(column.name, item) }}
          </a>
          <span *ngIf="!isLink(column.name)">{{ getColumnValue(column.name, item) }}</span>
          <ng-container [ngSwitch]="column.name">
            <ng-container *ngSwitchCase="'configurationName'">
              <div *ngIf="item.buildIn" class="ml-2 build-in-status bg-secondary text-white text-bold">
                  BUILD IN
                </div>
              <div *ngIf="item.active" class="ml-2 active-status bg-info text-white text-bold">
                  ACTIVE
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" *ngIf="items.length == 0">
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center">
          Не найдено ни одной конфигурации
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-create-classifiers-configuration
  [item]="classifiersConfiguration"
  [visible]="editClassifiersConfigurationDialogVisibility"
  (visibilityChange)="onEditClassifiersConfigurationDialogVisibility($event)"
  (itemEvent)="onEditClassifiersConfiguration($event)">
</app-create-classifiers-configuration>

<app-upload-classifier-options-dialog
  [configurationId]="selectedConfiguration?.id"
  [visible]="uploadClassifiersOptionsDialogVisibility"
  (visibilityChange)="onUploadClassifiersOptionsDialogVisibility($event)"
  (uploaded)="onUploadedClassifiersOptions($event)">
</app-upload-classifier-options-dialog>

<app-form-template [template]="selectedTemplate"
                   [item]="selectedFormFields"
                   [visible]="addClassifiersOptionsDialogVisibility"
                   (visibilityChange)="onAddClassifierOptionsDialogVisibility($event)"
                   (itemEvent)="onAddClassifierOptions($event)">
</app-form-template>
