.configurations-table::ng-deep {

  .ui-table-tbody > tr > td {
    &:first-child {
      width: 125px;
    }

    &:nth-child(2) {
      width: 450px;
    }
  }
  .ui-table-thead > tr > th {
    &:first-child {
      width: 125px;
    }
    &:nth-child(2) {
      width: 450px;
    }
  }
}
