<p-panel class="attributes-panel" [showHeader]="true" [header]="header">
  <div class="ui-g ui-fluid">
    <div class="ui-g-10 mx-auto">
      <button
        pButton
        type="button"
        label="Выбрать все"
        (click)="selectAllAttributes()"
        class="ml-auto">
      </button>
    </div>
    <div *ngIf="selectedAttributesIsTooLow()" class="ui-g-12 ml-1 mr-1 text-bold text-center">
      <p-messages class="messages" [enableService]="false"
                  [closable]="false"
                  [(value)]="selectedAttributesIsTooLowMessage">
      </p-messages>
    </div>
    <div class="ui-g-12">
      <p-table
        class="attributes-table"
        [loading]="loading"
        [columns]="columns"
        [value]="attributes">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <ng-container *ngFor="let column of columns">
              <th>{{ column.label }}</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-checkbox binary="true"
                          name="{{ item.name }}"
                          (onChange)="selectAttribute(item, $event)"
                          [(ngModel)]="item.selected">
              </p-checkbox>
            </td>
            <td *ngFor="let column of columns">
              <a class="link" [routerLink]="" *ngIf="isLink(column.name)" (click)="toggleOverlayPanel($event, item, infoPanel)">
                {{ getColumnValue(column.name, item) }}
              </a>
              <div *ngIf="!isLink(column.name)">
                {{ getColumnValue(column.name, item) }}
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12 text-center justify-content-center align-items-center">
      <div class="form-group">
        <label class="class-label">Атрибут класса</label>
        <p-dropdown
          [options]="attributes"
          [disabled]="loading"
          placeholder="Выбрать"
          optionLabel="name"
          [(ngModel)]="classAttribute"
          (onChange)="setClass($event)"
          [style]="{'width':'100%'}">
        </p-dropdown>
      </div>
    </div>
    <div *ngIf="isClassNotSelected()" class="ui-g-12 ml-1 mr-1 text-bold text-center">
      <p-messages class="messages" [enableService]="false"
                  [closable]="false"
                  [(value)]="classNotSelectedMessage">
      </p-messages>
    </div>
  </div>
</p-panel>

<p-overlayPanel #infoPanel [showCloseIcon]="true" class="info-panel">
  <ng-container *ngIf="toggledAttribute">
    <div class="ui-g">
      <div class="ui-g-2 text-center text-left text-bold text-wrap bottom-border">
        Код
      </div>
      <div class="ui-g-10 text-center text-left text-bold text-wrap bottom-border">
        Значение
      </div>
    </div>
    <div class="ui-g" *ngFor="let value of toggledAttribute?.values">
      <div class="ui-g-2 text-left text-bold text-wrap">
        {{ value.index }}
      </div>
      <div class="ui-g-10 text-left text-wrap">
        {{ value.value }}
      </div>
    </div>
  </ng-container>
</p-overlayPanel>
