<p-dialog
  [(visible)]="visible"
  header="Загрузить настройки классификаторов"
  width="650"
  appendTo="body"
  [modal]="true"
  [blockScroll]="false"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hide()">

  <p-scrollPanel [style]="{ width: '100%', height: '200px' }">
    <form novalidate class="form d-flex flex-column justify-content-center m-auto">
      <div class="ui-g ui-fluid">
        <div class="ui-g-10 mx-auto mb-5">
          <p-fileUpload name="classifiersOptions"
                        chooseLabel="Выбрать"
                        uploadLabel="Загрузить"
                        cancelLabel="Отмена"
                        [multiple]="true"
                        [invalidFileSizeMessageSummary]="invalidFileSizeMessageSummary"
                        [invalidFileSizeMessageDetail]="invalidFileSizeMessageDetail"
                        [invalidFileTypeMessageSummary]="invalidFileTypeMessageSummary"
                        [invalidFileTypeMessageDetail]="invalidFileTypeMessageDetail"
                        [customUpload]="true"
                        (uploadHandler)="onUpload($event)"
                        [accept]="accept"
                        [fileLimit]="filesLimit"
                        [maxFileSize]="maxFileSize">
            <ng-template pTemplate="content">
              <table class="table w-100">
                <tbody>
                <tr *ngFor="let uploadFile of uploadedFiles">
                  <td>
                    <div class="file-name">
                      {{ uploadFile.sourceFileName }}
                    </div>
                  </td>
                  <td>
                    <span [class.upload-status-error]="!uploadFile.success"
                          [class.upload-status-success]="uploadFile.success">
                      {{ uploadFile.success ? 'Успешно' : 'Ошибка' }}
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </form>
  </p-scrollPanel>
  <p-footer>
    <button
      pButton
      label="Закрыть"
      type="button"
      [disabled]="uploadProgress"
      (click)="hide()"
      class="ml-auto">
    </button>
  </p-footer>
</p-dialog>
