.experiment-table::ng-deep {

  .ui-table-tbody > tr > td {
    word-wrap: break-word;
    width: 300px;
  }
  .ui-table-thead > tr > th {
    word-wrap: break-word;
    width: 300px;
  }
}

.info-panel {
  background: rgba(226, 226, 226, 0.64);
  border: 1px solid gray;
}

.attr {
  margin-top: 7px;
  font-weight: bold;
  font-size: 16px;
}

.value {
  font-size: 22px;
}
