.experiments-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 300px;
    &:first-child {
      width: 330px;
      font-weight: bold;
    }
  }
  .ui-table-thead > tr > th {
    width: 300px;
    &:first-child {
      width: 330px;
    }
  }
}

.info-panel::ng-deep {

  .ui-overlaypanel-content {
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
  }
}
