.experiment-table::ng-deep {

  .ui-table-tbody > tr > td {
    word-wrap: break-word;
    width: 300px;
  }
  .ui-table-thead > tr > th {
    word-wrap: break-word;
    width: 300px;
  }
}

.info-panel::ng-deep {

  .ui-panel {
    background: rgba(226, 226, 226, 0.64);
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    height: 125px;
    min-height: 125px;
  }
}

.attr {
  margin-top: 7px;
  font-weight: bold;
  font-size: 18px;
}

.value {
  font-size: 26px;
}
