.experiments-table::ng-deep {

  .ui-table {
    margin-top: 15px;
  }

  .ui-table-tbody > tr > td {
    word-wrap: break-word;
    width: 300px;
    &:first-child {
      width: 330px;
      font-weight: bold;
    }
  }
  .ui-table-thead > tr > th {
    word-wrap: break-word;
    width: 300px;
    &:first-child {
      width: 330px;
    }
  }
}

.link {
  color: #3397ff;
}

.experiment-tab::ng-deep {
  .ui-tabview {
    background-color: inherit;
  }

  .ui-tabview-nav {
    background-color: #f5f5f5;
  }
}

.experiment-blink {
  animation: 1.5s blink 100ms 1;
}

@keyframes blink {
  from {
    background: #4eb1ff;
  }
  to {
    background: white;
  }
}
