<p-dialog
  [(visible)]="visible"
  header=""
  [style]="{ width: '650px' }"
  appendTo="body"
  [modal]="true"
  [blockScroll]="false"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hide()">
  <p-scrollPanel [style]="{width: '100%', height: '500px'}">
    <ng-container *ngFor="let field of templateFields">
      <div class="ui-g">
        <div class="ui-g-5 text-right text-bold text-wrap">
          {{ field.label }}
        </div>
        <div class="ui-g-7 text-left text-wrap">
          {{ getTemplateValue(field.name) }}
        </div>
      </div>
    </ng-container>
    <app-template-parameters-list *ngIf="template?.parameters?.length > 0" [items]="template?.parameters || []">
    </app-template-parameters-list>
  </p-scrollPanel>
</p-dialog>
