<p-dialog
  [(visible)]="visible"
  header="Информация о шаблоне"
  [style]="{ width: '650px' }"
  appendTo="body"
  [modal]="true"
  [blockScroll]="false"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hide()">
  <div class="template-details-panel">
    <ng-container *ngFor="let field of templateFields">
      <div class="ui-g">
        <div class="ui-g-3 text-right text-bold text-wrap">
          {{ field.label }}
        </div>
        <div class="ui-g-9 text-left text-wrap">
          {{ getTemplateValue(field.name) }}
        </div>
      </div>
    </ng-container>
    <p-fieldset legend="Текст шаблона" class="details-fieldset">
      <p-editor [(ngModel)]="templateText"
                [readonly]="true">
      </p-editor>
    </p-fieldset>
    <app-template-parameters-list *ngIf="template?.parameters?.length > 0" [items]="template?.parameters || []">
    </app-template-parameters-list>
  </div>

  <p-footer>
    <button
      pButton
      label="Закрыть"
      type="button"
      (click)="hide()"
      class="ml-auto">
    </button>
  </p-footer>
</p-dialog>
