<div class="container">
  <div class="row h-100">
    <div class="col-12 d-flex py-4">
      <form novalidate class="form d-flex flex-column justify-content-center m-auto"
            (submit)="submit()"
            (keydown.enter)="submit()">
        <p-panel header="Восстановление пароля">
          <div *ngIf="!sent" class="ui-g ui-fluid">
            <div class="ui-g-10 mx-auto">
              <label class="text-bold">Укажите ваш Email для восстановления пароля</label>
              <input
                required
                pInputText
                id="email"
                name="email"
                type="text"
                placeholder="Введите Email"
                [(ngModel)]="forgotPasswordRequest.email"
                [disabled]="loading"
                maxlength="255"
                (focus)="onEmailFocus($event)"
                class="form-control d-block w-100">
              <div class="text-danger error-message" *ngIf="emailNotExists && submitted">
                Пользователя с таким email не существует
              </div>
              <div class="text-danger error-message" *ngIf="userLocked && submitted">
                Вы не можете восстановить пароль, т.к. ваш аккаунт заблокирован
              </div>
            </div>
            <div class="ui-g-10 active-reset-password-request-error mx-auto">
              <div *ngIf="hasActiveResetPasswordRequest" class="text-danger text-center mb-1">
                Вы уже отправили запрос на восстановление пароля
              </div>
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <button
                pButton
                type="button"
                (click)="submit()"
                [disabled]="!isValid() || loading"
                class="forgot-password-button ml-auto">
                <span class="forgot-password-text" *ngIf="!loading">Восстановить</span>
                <p-progressSpinner
                  *ngIf="loading"
                  class="forgot-password-progress-spinner"
                  strokeWidth="4"
                  animationDuration=".5s">
                </p-progressSpinner>
              </button>
            </div>
          </div>

          <div *ngIf="sent" class="ui-g ui-fluid">
            <div class="ui-g-10 mx-auto d-flex align-items-center justify-content-center text-center text-bold">
              На ваш email отправлено письмо со ссылкой для восстановления пароля
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <button
                pButton
                [routerLink]="['/login']"
                type="button"
                label="На страницу входа"
                class="w-100 mb-1 mb-sm-2">
              </button>
            </div>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>
