<div class="container">
  <div class="row h-100">
    <div class="col-12 d-flex py-4">
      <form novalidate class="form d-flex flex-column justify-content-center m-auto"
            (submit)="submit()"
            (keydown.enter)="submit()">
        <p-panel header="Восстановление пароля">
          <div class="ui-g ui-fluid">
            <div class="ui-g-10 mx-auto">
              <label class="text-bold">Укажите ваш Email для восстановления пароля</label>
              <input
                required
                pInputText
                id="email"
                name="email"
                type="text"
                placeholder="Введите Email"
                [(ngModel)]="item"
                [disabled]="loading"
                maxlength="255"
                class="form-control d-block w-100">
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <button
                pButton
                type="submit"
                label="Восстановить"
                [disabled]="!isValid()"
                class="w-100 mb-2 mb-sm-3">
              </button>
            </div>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>
