<p-dialog
  [(visible)]="visible"
  header="Изменить пароль"
  [style]="{ width: '650px' }"
  appendTo="body"
  [modal]="true"
  [blockScroll]="false"
  [draggable]="false"
  [resizable]="false"
  [closable]="!loading"
  (onHide)="hide()">

  <form novalidate class="form d-flex flex-column justify-content-center m-auto"
        (submit)="submit()"
        (keydown.enter)="submit()">
    <div class="ui-g ui-fluid">
      <div class="ui-g-10 mx-auto">
        <label class="text-bold">Старый пароль</label>
        <input
          required
          pPassword
          id="oldPassword"
          name="oldPassword"
          type="password"
          [feedback]="false"
          placeholder="Введите старый пароль"
          [(ngModel)]="item.oldPassword"
          [disabled]="loading"
          maxlength="255"
          (focus)="onOldPasswordFocus($event)"
          class="form-control d-block w-100">
        <div class="text-danger error-message" *ngIf="invalidPassword && submitted">
          Неправильный пароль
        </div>
      </div>

      <div class="ui-g-10 mx-auto mt-3">
        <label class="text-bold">Новый пароль</label>
        <input
          required
          pPassword
          validateEqual="confirmPassword"
          source="true"
          id="newPassword"
          name="newPassword"
          type="password"
          [feedback]="false"
          placeholder="Введите новый пароль"
          [(ngModel)]="item.newPassword"
          [disabled]="loading"
          maxlength="255"
          class="form-control d-block w-100">
        <password-strength-meter
          [password]="item.newPassword"
          (strengthChange)="onStrengthChange($event)">
        </password-strength-meter>
        <div class="text-danger error-message" *ngIf="submitted && !safePassword">
          Введите надежный пароль
        </div>
      </div>

      <div class="ui-g-10 mx-auto mt-3">
        <label class="text-bold">Подтверждение нового пароля</label>
        <input
          required
          pPassword
          validateEqual="newPassword"
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          [feedback]="false"
          placeholder="Введите пароль еще раз"
          [(ngModel)]="confirmPassword"
          [disabled]="loading"
          maxlength="255"
          class="form-control d-block w-100">
      </div>
      <div class="ui-g-10 change-password-request-error mx-auto">
        <div *ngIf="errorCode" class="text-danger text-center mb-1">
          {{ getErrorMessage() }}
        </div>
      </div>
      <div class="ui-g-10 mx-auto mt-3">
        <button
          pButton
          type="button"
          (click)="submit()"
          [disabled]="!isValid() || loading"
          class="change-password-button ml-auto">
          <span class="change-password-text" *ngIf="!loading">Изменить пароль</span>
          <p-progressSpinner
            *ngIf="loading"
            class="change-password-progress-spinner"
            strokeWidth="4"
            animationDuration=".5s">
          </p-progressSpinner>
        </button>
      </div>
    </div>
  </form>
</p-dialog>
