.options-table::ng-deep {

  .ui-table-tbody > tr > td {

    &:first-child {
      width: 100px;
      font-weight: bold;
    }

    &:nth-child(5) {
      width: 100px;
    }
  }

  .ui-table-thead > tr > th {

    &:first-child {
      width: 100px;
      font-weight: bold;
    }

    &:nth-child(5) {
      width: 100px;
    }
  }
}

.delete-button {
  border-radius: 50%;
}
