<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!docker-prod">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{yyyy-MM-dd HH:mm:ss} [%thread] %X{userLogin} %-5level %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="docker-prod">
        <springProperty scope="context" name="application_name" source="spring.application.name"/>

        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="console"/>

    </root>

</configuration>
