.details-fieldset::ng-deep {

  .ui-fieldset {
    margin: 8px 3px 3px 3px;
    border: 0.5px solid darkgrey;
  }

  .ui-fieldset-legend {
    font-weight: bold;
    font-size: 16px;
    border: 0.5px solid darkgrey;
  }
}

.link-button {
  border-radius: 50%;
}

.bg-white {
  background-color: white;
}

.parent-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 5px 5px 5px 5px;
}
