.audit-logs-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 220px;

    &:first-child {
      width: 330px;
      font-weight: bold;
    }
  }

  .ui-table-thead > tr > th {
    width: 220px;

    &:first-child {
      width: 330px;
    }
  }
}
