spring:
  application:
    name: eca-load-tests
  jmx:
    default-domain: eca-load-tests
  ## Datasource properties
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/eca_load_tests
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  cache:
    cache-names: instances
    caffeine:
      spec: maximumSize=10, expireAfterWrite=180s
  rabbitmq:
    listener:
      simple:
        concurrency: 10
        maxConcurrency: 10

eca-load-tests:
  numRequests: 100
  numThreads: 10
  workerThreadTimeOutInSeconds: 180
  requestTimeoutInSeconds: 180
  numFolds: 10
  numTests: 1
  seed: 1
  trainingDataStoragePath: classpath*:data/**/*
  classifiersStoragePath: classpath*:classifiers/**/*.json
  pageSize: 25
  delaySeconds: 2

queue:
  evaluationRequestQueue: evaluation-request-queue
  replyToQueue: load-tests-response-queue

classifiers-options:
  maximumFractionDigits: 4

## Swagger properties
open-api:
  basePath: /
  title: Load tests execution module
  description: API provides operations for load tests execution
  author: Roman Batygin
  email: roman.batygin@mail.ru
  projectVersion: @project.version@

springdoc:
  swagger-ui:
    disable-swagger-default-url: true

server:
  port: 8088
