.experiment-results-table::ng-deep {

  .ui-table-tbody > tr > td {

    &:first-child {
      width: 50px;
      font-weight: bold;
    }

    &:nth-child(3) {
      width: 120px;
    }
  }

  .ui-table-thead > tr > th {

    &:first-child {
      width: 50px;
    }

    &:nth-child(3) {
      width: 120px;
    }
  }
}

.sent-button-text {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sent-results-progress-spinner::ng-deep {
  .ui-progress-spinner {
    width: 12px;
    height: 12px;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
      stroke: #416ee7;
    }
    40% {
      stroke: #416ee7;
    }
    66% {
      stroke: #416ee7;
    }
    80%,
    90% {
      stroke: #416ee7;
    }
  }
}
