.experiment-results-table::ng-deep {

  .ui-table-tbody > tr > td {

    &:first-child {
      width: 50px;
      font-weight: bold;
    }
  }

  .ui-table-thead > tr > th {

    &:first-child {
      width: 50px;
    }
  }
}

.classifier-info-panel {
  width: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

.cancel-button {
  height: 25px;
  width: 100%;
  background-color: #9a9a9a;
}
