.experiment-results-table::ng-deep {

  .ui-table-tbody > tr > td {

    &:first-child {
      width: 50px;
      font-weight: bold;
    }

    &:nth-child(3) {
      width: 120px;
    }
  }

  .ui-table-thead > tr > th {

    &:first-child {
      width: 50px;
    }

    &:nth-child(3) {
      width: 120px;
    }
  }
}
