<p-panel class="filter-panel" [showHeader]="false">

  <div class="ui-g ui-fluid">
    <div *ngFor="let filter of filters" class="ui-g-12 ui-md-12">
      <div [ngSwitch]="filter.filterFieldType">
        <ng-container *ngSwitchCase="'REFERENCE'">
          <div class="form-group">
            <label class="filter-label">{{ filter.label }}</label>
            <div *ngIf="filter.multiple">
              <p-multiSelect
                class="multi-select"
                [options]="filter.values"
                optionLabel="label"
                defaultLabel="Выбрать"
                [maxSelectedLabels]="0"
                selectedItemsLabel="{0} выбрано"
                [(ngModel)]="filter.currentValues">
              </p-multiSelect>
            </div>
            <div *ngIf="!filter.multiple">
              <p-dropdown
                [options]="filter.values"
                placeholder="Выбрать"
                optionLabel="label"
                [showClear]="true"
                [(ngModel)]="filter.currentValue"
                [style]="{'width':'100%'}">
              </p-dropdown>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'DATE'">
          <label class="filter-label">{{ filter.label }}</label>
          <div *ngIf="!filter.multiple">
            <p-calendar [showIcon]="true"
                        [showButtonBar]="true"
                        [(ngModel)]="filter.currentValue"
                        [maxDate]="now">
            </p-calendar>
          </div>
          <div *ngIf="filter.multiple">
            <p-calendar selectionMode="range"
                        [showIcon]="true"
                        [showButtonBar]="true"
                        [(ngModel)]="filter.currentValues"
                        [maxDate]="now">
            </p-calendar>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'LAZY_REFERENCE'">
          <div class="form-group">
            <label class="filter-label">{{ filter.label }}</label>
            <p-autoComplete required
                            [(ngModel)]="filter.currentValue"
                            [suggestions]="filter.values"
                            (completeMethod)="onAutocompleteItem(filter.name, $event)"
                            field="label"
                            dropdownMode="current"
                            emptyMessage="Данные не найдены"
                            [forceSelection]="true"
                            [dropdown]="true">
              <!--Customize item template  -->
              <ng-template let-item pTemplate="item">
                <div [ngSwitch]="selectedAutocompleteField">
                  <ng-container *ngSwitchCase="'instancesInfo.id'">
                    <app-instances-info [item]="item.value">
                    </app-instances-info>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ item.label }}
                  </ng-container>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <label class="filter-label">{{ filter.label }}</label>
          <input pInputText type="text" [(ngModel)]="filter.currentValue" maxlength="255"/>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <button
      pButton
      label="Применить"
      icon="pi pi-filter"
      type="button"
      class="filter-button"
      (click)="onApply()">
    </button>
    <button
      pButton
      label="Сброс"
      icon="pi pi-replay"
      type="button"
      class="filter-button"
      (click)="resetFilter()">
    </button>
  </div>
</p-panel>
