<p-panel class="filter-panel" [showHeader]="false">

  <div class="ui-g ui-fluid">
    <div *ngFor="let filter of filters" class="ui-g-12 ui-md-12">
      <div [ngSwitch]="filter.filterFieldType">
        <ng-container *ngSwitchCase="'REFERENCE'">
          <div class="form-group">
            <label class="filter-label">{{ filter.label }}</label>
            <p-dropdown
              [options]="filter.values"
              placeholder="Выбрать"
              optionLabel="label"
              [showClear]="true"
              [(ngModel)]="filter.currentValue"
              [autoWidth]="false"
              [style]="{'width':'100%'}">
            </p-dropdown>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'DATE'">
          <label class="filter-label">{{ filter.label }}</label>
          <p-calendar [showIcon]="true"
                      [showButtonBar]="true"
                      [(ngModel)]="filter.currentValue"
                      [maxDate]="now">
          </p-calendar>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <label class="filter-label">{{ filter.label }}</label>
          <input pInputText type="text" [(ngModel)]="filter.currentValue" maxlength="255"/>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <button
      pButton
      label="Применить"
      icon="pi pi-filter"
      type="button"
      class="filter-button"
      (click)="onApply()">
    </button>
    <button
      pButton
      label="Сброс"
      icon="pi pi-replay"
      type="button"
      class="filter-button"
      (click)="resetFilter()">
    </button>
  </div>
</p-panel>
