.classification-costs-table::ng-deep {

  .ui-table {
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 5px;
  }

  .ui-table-tbody > tr > td {
    &:first-child {
      font-weight: bold;
    }
  }
}
