.instances-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 250px;
  }

  .ui-table-thead > tr > th {
    width: 250px;
  }
}

.instances-title {
  font-size: 16px;
  font-weight: bold;
}

.instances-meta-info {
  border: 0.3px solid #4e4e4e;
  border-radius: 4px;
}
