<div class="container-fluid mb-5">
  <div class="row search-content mt-2">
    <div class="col-6 justify-content-start">
      <button pButton
              type="button"
              pTooltip="Редактировать"
              (click)="renameInstances()"
              class="ui-button-primary round-button ml-2 mt-2 mb-2"
              icon="pi pi-fw pi-pencil">
      </button>
      <button pButton
              type="button"
              pTooltip="Удалить"
              (click)="onDeleteInstances()"
              class="ui-button-danger round-button ml-2 mt-2 mb-2"
              icon="pi pi-fw pi-trash">
      </button>
      <button pButton
              type="button"
              pTooltip="Экспорт в файл"
              (click)="onExportInstances()"
              class="ui-button-success round-button ml-2 mt-2 mb-2"
              icon="pi pi-fw pi-download">
      </button>
    </div>
    <div class="col-6">
      <app-search-query (search)="onSearch($event)">
      </app-search-query>
    </div>
  </div>
  <p-table
    class="instances-table"
    [columns]="columns"
    [value]="items"
    [rows]="pageSize"
    [paginator]="true"
    [scrollable]="true"
    [sortField]="defaultSortField"
    [sortOrder]="defaultSortOrder"
    [lazy]="true"
    [loading]="loading"
    (onLazyLoad)="onLazyLoad($event)">

    <ng-template pTemplate="caption">
      <div class="ui-g text-center justify-content-center align-items-center instances-title text-wrap">
        Данные: {{ instancesDto?.tableName }}
      </div>
      <div class="ui-g mt-2 instances-meta-info">
        <div class="ui-g-3 text-left text-wrap">
          Число объектов: {{ instancesDto?.numInstances }}
        </div>
        <div class="ui-g-3 text-left text-wrap">
          Число атрибутов: {{ instancesDto?.numAttributes }}
        </div>
        <div class="ui-g-3 text-left text-wrap">
          Пользователь: {{ instancesDto?.createdBy }}
        </div>
        <div class="ui-g-3 text-left text-wrap">
          Дата создания: {{ instancesDto?.created }}
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let column of columns">
          <th *ngIf="!notSortable(column.name)" [pSortableColumn]="column.name">
            {{ column.label }}
            <p-sortIcon [field]="column.name"></p-sortIcon>
          </th>
          <th *ngIf="notSortable(column.name)">{{ column.label }}</th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngFor="let column of columns; let i = index">
          {{ getColumnValueByIndex(i, item) }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" *ngIf="items.length == 0">
      <tr>
        <td [attr.colspan]="columns.length" class="text-center">
          Данные не найдены
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-create-edit-instances
  [item]="createEditInstancesModel"
  [visible]="createEditInstancesDialogVisibility"
  (visibilityChange)="onCreateEditInstancesDialogVisibility($event)"
  (renameEvent)="onRenameInstances($event)">
</app-create-edit-instances>

<app-export-instances [visible]="exportInstancesDialogVisibility"
                      (visibilityChange)="onExportInstancesDialogVisibility($event)"
                      [reportTypes]="reportTypes"
                      [item]="exportInstancesModel">
</app-export-instances>

