<div class="container">
  <div class="row h-100">
    <div class="col-12 d-flex py-4">
      <form novalidate class="form d-flex flex-column justify-content-center m-auto"
            (submit)="submit()"
            (keydown.enter)="submit()">
        <p-panel header="Изменение пароля">
          <div *ngIf="tokenValid" class="ui-g ui-fluid">
            <div class="ui-g-10 mx-auto">
              <label class="text-bold">Новый пароль</label>
              <input
                required
                pPassword
                validateEqual="confirmPassword"
                source="true"
                id="password"
                name="password"
                type="password"
                [feedback]="false"
                placeholder="Введите пароль"
                [(ngModel)]="password"
                [disabled]="loading"
                maxlength="255"
                class="form-control d-block w-100">
              <password-strength-meter
                [password]="password"
                (strengthChange)="onStrengthChange($event)">
              </password-strength-meter>
              <div class="text-danger error-message" *ngIf="submitted && !safePassword">
                  Введите надежный пароль
              </div>
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <label class="text-bold">Подтверждение пароля</label>
              <input
                required
                pPassword
                validateEqual="password"
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                [feedback]="false"
                placeholder="Пароль еще раз"
                [(ngModel)]="confirmPassword"
                [disabled]="loading"
                maxlength="255"
                class="form-control d-block w-100">
              <div class="text-danger error-message" *ngIf="submitted && errorCode">
                {{ getErrorMessage() }}
              </div>
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <button
                pButton
                type="button"
                (click)="submit()"
                [disabled]="!isValid() || loading"
                class="reset-password-button ml-auto">
                <span class="reset-password-text" *ngIf="!loading">Изменить пароль</span>
                <p-progressSpinner
                  *ngIf="loading"
                  class="reset-password-progress-spinner"
                  strokeWidth="4"
                  animationDuration=".5s">
                </p-progressSpinner>
              </button>
            </div>
          </div>
          <div *ngIf="!tokenValid" class="ui-g ui-fluid">
            <div class="ui-g-10 mx-auto d-flex align-items-center justify-content-center text-center text-bold">
              Не удалось сбросить пароль, т.к. ссылка для сброса пароля недействительна. Попробуйте снова
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <button
                pButton
                [routerLink]="['/create-reset-password-request']"
                type="button"
                label="Сбросить пароль"
                class="w-100 mb-1 mb-sm-2">
              </button>
            </div>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>
