<div class="container">
  <div class="row h-100">
    <div class="col-12 d-flex py-4">
      <form novalidate class="form d-flex flex-column justify-content-center m-auto"
            (submit)="submit()"
            (keydown.enter)="submit()">
        <p-panel header="Изменение пароля">
          <div class="ui-g ui-fluid">
            <div class="ui-g-10 mx-auto">
              <label class="text-bold">Новый пароль</label>
              <input
                required
                pInputText
                id="password"
                name="password"
                type="text"
                placeholder="Введите пароль"
                [(ngModel)]="resetPasswordRequest.password"
                [disabled]="loading"
                maxlength="255"
                class="form-control d-block w-100">
            </div>
            <div class="ui-g-10 mx-auto">
              <label class="text-bold">Подтверждение пароля</label>
              <input
                required
                pInputText
                id="confirmPassword"
                name="confirmPassword"
                type="text"
                placeholder="Пароль еще раз"
                [disabled]="loading"
                maxlength="255"
                class="form-control d-block w-100">
            </div>
            <div class="ui-g-10 mx-auto mt-3">
              <button
                pButton
                type="button"
                (click)="submit()"
                [disabled]="!isValid() || loading"
                class="reset-password-button ml-auto">
                <span class="reset-password-text" *ngIf="!loading">Изменить пароль</span>
                <p-progressSpinner
                  *ngIf="loading"
                  class="reset-password-progress-spinner"
                  strokeWidth="4"
                  animationDuration=".5s">
                </p-progressSpinner>
              </button>
            </div>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>
