.classifiers-configuration-history-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 300px;

    &:first-child {
      width: 330px;
      font-weight: bold;
    }

    &:nth-child(4) {
      width: 650px;
    }
  }

  .ui-table-thead > tr > th {
    width: 300px;

    &:first-child {
      width: 330px;
    }

    &:nth-child(4) {
      width: 650px;
    }
  }
}

.filter-panel::ng-deep {

  .ui-overlaypanel-content {
    width: 350px;
  }
}
