spring:
  application:
    name: discovery-server
  jmx:
    default-domain: discovery-server
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
server:
  port: 8761

eureka:
  instance:
    hostname: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka

## Swagger properties
open-api:
  basePath: /
  title: Eureka discovery server
  description: API provides operations with service discovery
  author: Roman Batygin
  email: roman.batygin@mail.ru
  projectVersion: @project.version@

springdoc:
  swagger-ui:
    disable-swagger-default-url: true

management:
  metrics:
    tags:
      application: ${spring.application.name}
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  info:
    git:
      enabled: true
      mode: full
