.details-fieldset::ng-deep {

  .ui-fieldset {
    margin: 8px 3px 3px 3px;
    border: 0.5px solid darkgrey;
  }

  .ui-fieldset-legend {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid;
  }
}

.classifiers-details-fieldset::ng-deep {

  .ui-fieldset {
    margin: 3px 3px 3px 3px;
    border: 0.5px solid darkgrey;
  }

  .ui-fieldset-legend {
    font-weight: bold;
    font-size: 14px;
    border: 0.5px solid;
  }
}

.individual-classifier-header {
  font-weight: bold;
  text-decoration: underline;
  font-size: 15px;
}

.meta-classifier {
  border-radius: 4px;
  width: 200px;
  text-align: center;
  display: inline-block;
}

.app-progress-spinner::ng-deep {
  .ui-progress-spinner {
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 150px;
    z-index: 100000;
  }

  @keyframes ui-progress-spinner-color {
    100%,
    0% {
      stroke: #416ee7;
    }
    40% {
      stroke: #416ee7;
    }
    66% {
      stroke: #416ee7;
    }
    80%,
    90% {
      stroke: #416ee7;
    }
  }
}
