<p-progressSpinner
  class="app-progress-spinner"
  strokeWidth="4"
  animationDuration=".5s"
  *ngIf="loading">
</p-progressSpinner>
<div class="ui-g roc-curve-panel">
  <div class="ui-g-12">
    <p-chart type="line" height="750px" [data]="dataSet" [options]="barOptions" [plugins]="plugins"></p-chart>
  </div>
  <div *ngIf="selectedClassIndex >= 0" class="ui-g-12 text-center auc-value mt-2">
    AUC (Площадь под кривой): {{ rocCurveDataDto?.aucValue || '-' }}
  </div>
</div>
<div class="row mt-3 mb-2">
  <div class="col-6 offset-3">
    <div class="options-panel">
      <label class="text-bold mr-2 mt-1">Выберите класс</label>
      <p-dropdown
        required
        id="classValueIndex"
        name="classValueIndex"
        placeholder="Выбрать"
        [options]="classValues"
        [disabled]="loading"
        (onChange)="updateRocCurveData()"
        [(ngModel)]="selectedClassIndex"
        [style]="{'width':'400px'}">
      </p-dropdown>
      <button pButton
              type="button"
              class="ml-3"
              label="Сохранить для отчета"
              (click)="saveImage()"
              [disabled]="loading"
              icon="pi pi-file">
      </button>
    </div>
  </div>
</div>
