<p-autoComplete required
                id="instances"
                name="instances"
                [(ngModel)]="selectedInstances"
                [suggestions]="instances"
                (completeMethod)="onComplete($event)"
                field="tableName"
                dropdownMode="current"
                emptyMessage="Не найдено ни одной обучающей выборки"
                [forceSelection]="true"
                [dropdown]="true">
  <ng-template let-instance pTemplate="item">
    <div class="ui-g">
      <div class="ui-g-4 text-left text-bold text-wrap">
        Данные:
      </div>
      <div class="ui-g-8 text-left text-wrap">
        {{ instance.tableName }}
      </div>
      <div class="ui-g-4 text-left text-bold text-wrap">
        Число объектов:
      </div>
      <div class="ui-g-8 text-left text-wrap">
        {{ instance.numInstances }}
      </div>
      <div class="ui-g-4 text-left text-bold text-wrap bottom-border">
        Число атрибутов:
      </div>
      <div class="ui-g-8 text-left text-wrap bottom-border">
        {{ instance.numAttributes }}
      </div>
    </div>
  </ng-template>
</p-autoComplete>
<div class="text-danger error-message" *ngIf="submitted && !selectedInstances">
  Выберите обучающую выборку
</div>
