.options-table::ng-deep {

  .ui-table {
    margin-top: 15px;
  }

  .ui-table-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 99999999;
  }

  .ui-table-loading-content {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    z-index: 999999999;
  }
}
.link {
  color: #3397ff;
}
