.auth-panel::ng-deep {
  .ui-panel {
    margin: auto;
    max-width: 500px;
    width: 100%;
    margin-top: 200px;
    border-radius: 7px;
  }
}

.auth-button {
  height: 40px;
  margin-top: 25px;
}

.form {
  max-width: 500px;
  width: 100%;
}

.auth-error {
  height: 30px;
}

.error-message {
  position: absolute;
  margin-top: 5px;
}

.eca-icon {
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
  width: 100px;
  height: 75px;
  display: block;
}

.eca-service-text {
  color: rgb(2, 67, 109);
  font-weight: bold;
  text-transform: uppercase;
}
