<div class="container">
  <div class="row h-100">
    <div class="col-12 d-flex py-4">
      <form *ngIf="!tfaCodeVerificationStep"
            novalidate
            class="form d-flex flex-column justify-content-center m-auto"
            (submit)="submit()"
            (keydown.enter)="submit()">
        <div class="ui-g-10 text-center mx-auto">
          <img class="eca-icon" src="assets/images/eca-icon.jpg">
          <h4 class="eca-service-text">ECA - SERVICE</h4>
        </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-10 auth-error mx-auto">
            <div *ngIf="errorMessage" class="text-danger text-center mb-1">{{ errorMessage }}</div>
          </div>
          <div class="ui-g-10 mx-auto">
            <label class="text-bold">Логин или email</label>
            <input
              required
              pInputText
              id="login"
              name="login"
              type="text"
              placeholder="Введите логин или email"
              [(ngModel)]="userModel.login"
              #login="ngModel"
              [disabled]="loading"
              maxlength="255"
              class="form-control d-block w-100">
            <div class="text-danger error-message" *ngIf="login.invalid && (login.dirty || login.touched || submitted)">
              <div *ngIf="login?.errors?.required">
                Заполните логин или email
              </div>
            </div>
          </div>
          <div class="ui-g-10 mt-2 mx-auto">
            <label class="text-bold">Пароль</label>
            <input
              required
              pPassword
              id="password"
              name="password"
              type="password"
              placeholder="Введите пароль"
              [(ngModel)]="userModel.password"
              #password="ngModel"
              [disabled]="loading"
              maxlength="255"
              class="form-control d-block w-100"
              [feedback]="false">
            <div class="text-danger error-message"
                 *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
              <div *ngIf="password?.errors?.required">
                Заполните пароль
              </div>
            </div>
          </div>
          <div class="ui-g-10 mx-auto d-flex align-items-end justify-content-end">
            <a class="forgot-password-link" [routerLink]="['/forgot-password']" [class.disabled-link]="loading">
              Забыли пароль?
            </a>
          </div>
          <div class="ui-g-10 mx-auto">
            <button
              pButton
              type="submit"
              [disabled]="loading"
              class="auth-button w-100 mb-2 mb-sm-3">
              <span class="button-text" *ngIf="!loading">Войти</span>
              <p-progressSpinner
                *ngIf="loading"
                class="login-progress-spinner"
                strokeWidth="4"
                animationDuration=".5s">
              </p-progressSpinner>
            </button>
          </div>

        </div>
      </form>

      <form *ngIf="tfaCodeVerificationStep"
            novalidate
            class="form d-flex flex-column justify-content-center m-auto"
            (submit)="submit()"
            (keydown.enter)="submit()">

        <div class="ui-g-10 mx-auto d-flex align-items-center justify-content-center text-center text-bold">
          На ваш email отправлено письмо с кодом подтверждения
        </div>

        <div class="ui-g ui-fluid">
          <div class="ui-g-10 auth-error mx-auto">
            <div *ngIf="errorMessage" class="text-danger text-center mb-1">{{ errorMessage }}</div>
          </div>
          <div class="ui-g-10 mx-auto">
            <label class="text-bold">Код подтверждения</label>
            <input
              required
              pInputText
              id="tfaCode"
              name="tfaCode"
              type="text"
              placeholder="Введите код подтверждения"
              [(ngModel)]="tfaVerificationCode"
              #tfaCode="ngModel"
              [disabled]="loading"
              maxlength="255"
              class="form-control d-block w-100">
            <div class="text-danger error-message" *ngIf="tfaCode.invalid && (tfaCode.dirty || tfaCode.touched || submitted)">
              <div *ngIf="tfaCode?.errors?.required">
                Заполните код подтверждения
              </div>
            </div>
          </div>

          <div class="ui-g-10 mx-auto">
            <button
              pButton
              type="submit"
              [disabled]="loading"
              class="auth-button w-100 mt-4 mb-2 mb-sm-3">
              <span class="button-text" *ngIf="!loading">Подтвердить</span>
              <p-progressSpinner
                *ngIf="loading"
                class="login-progress-spinner"
                strokeWidth="4"
                animationDuration=".5s">
              </p-progressSpinner>
            </button>
          </div>

        </div>
      </form>

    </div>
  </div>
</div>
