<p-menubar [model]="items">
  <a [routerLink]="" class="notification" (click)="infoPanel.toggle($event)">
    <span class="pi pi-bell notification-icon">
    </span>
    <span *ngIf="userNotificationsStatistics?.notReadCount > 0" class="badge">
      {{ userNotificationsStatistics.notReadCount }}
    </span>
  </a>
  <p-overlayPanel #infoPanel
                  [showCloseIcon]="true"
                  (onShow)="showNotifications()"
                  (onHide)="hideNotifications()"
                  class="notifications-overlay">
    <app-notifications-center
      (readEvent)="getNotificationsStatistics()">
    </app-notifications-center>
  </p-overlayPanel>
  <a [routerLink]="" class="user" (click)="userMenu.toggle($event)">
    <span class="pi pi-user user-icon">
    </span>
  </a>
  <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
</p-menubar>
<router-outlet></router-outlet>
