<p-menubar [model]="items">
  <a [routerLink]="" class="notification" (click)="infoPanel.toggle($event)">
    <span class="pi pi-bell" style="font-size: 2rem; color: #2d2d2d">
    </span>
    <span class="badge">
      15
    </span>
  </a>
  <p-overlayPanel #infoPanel
                  [showCloseIcon]="true"
                  (onShow)="onShow()"
                  (onHide)="onHide()"
                  class="info-panel">
    <div class="ui-g-12 notification-card mt-1" *ngFor="let notification of virtualNotifications">
      <ng-container [ngSwitch]="notification?.messageType">
        <ng-container *ngSwitchCase="'EXPERIMENT_STATUS'">
          <div class="ui-g text-bold text-left">
            {{ notification?.messageText }}
          </div>
          <div class="ui-g text-left created-date">
            {{ notification?.createdAt }}
          </div>
          <div class="ui-g mx-auto d-flex align-items-center justify-content-center">
            <button
              pButton
              label="Открыть заявку"
              type="button">
            </button>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="ui-g align-items-center justify-content-center text-bold text-center">
            {{ notification?.messageText }}
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="ui-g-12" *ngIf="hasContent()">
      <div class="ui-g mx-auto d-flex align-items-center justify-content-center">
        <a [routerLink]="" class="text-bold link mt-2" (click)="load()">Показать еще</a>
      </div>
    </div>
  </p-overlayPanel>
  <a [routerLink]="" class="user" (click)="userMenu.toggle($event)">
    <span class="pi pi-user" style="font-size: 2rem; color: #2d2d2d">
    </span>
  </a>
  <!--<button type="button" pButton icon="pi pi-user" label="{{ getUserLogin() }}" (click)="userMenu.toggle($event)"></button>-->
  <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>
</p-menubar>
<router-outlet></router-outlet>
