<p-tabView>
  <p-tabPanel header="Настройки классификатора">
    <ng-template pTemplate="content">
      <ng-container *ngFor="let option of classifierInfo?.inputOptions">
        <div class="ui-g" *ngIf="option.optionValue">
          <div class="ui-g-6 text-left text-bold text-wrap">
            {{ option.optionName }}
          </div>
          <div class="ui-g-6 text-left text-wrap">
            {{ option.optionValue }}
          </div>
        </div>

        <p-fieldset *ngIf="option?.individualClassifiers?.length > 0"
                    legend="{{ option.optionName }}"
                    [toggleable]="true"
                    [collapsed]="true"
                    class="classifiers-details-fieldset">
          <ng-container *ngFor="let individualClassifier of option?.individualClassifiers">
            <div class="ui-g">
              <div class="ui-g-12 text-left individual-classifier-header text-wrap mt-2 mb-2">
                {{ individualClassifier.classifierDescription }}
              </div>
            </div>
            <ng-container *ngFor="let individualClassifierOption of individualClassifier?.inputOptions">
              <div class="ui-g">
                <div class="ui-g-6 text-left text-bold text-wrap">
                  {{ individualClassifierOption.optionName }}
                </div>
                <div class="ui-g-6 text-left text-wrap">
                  {{ individualClassifierOption.optionValue }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </p-fieldset>

      </ng-container>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="JSON формат">
    <ng-template pTemplate="content">
      <ng-container *ngIf="classifierInfo?.classifierOptionsJson">
        <pre class="json-options-config"><code class="language-json" [innerHTML]="getFormattedJsonConfig()"></code></pre>
        <div class="ui-g mx-auto d-flex align-items-center justify-content-center">
          <button
            pButton
            label="Скачать"
            icon="pi pi-download"
            type="button"
            class="load-button"
            (click)="saveClassifierOptions()">
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="!classifierInfo?.classifierOptionsJson">
        <div class="ui-g mx-auto d-flex align-items-center justify-content-center text-center text-bold text-danger">
          Данные не найдены
        </div>
      </ng-container>
    </ng-template>
  </p-tabPanel>
</p-tabView>
