/* You can add global styles to this file, and also import other style files */
.text-bold {
  font-weight: bold;
}

.text-wrap {
  word-wrap: break-word;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.filter-sidebar {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  display: inline-block;
}

.data-table {
  margin-left: 15px;
  width: calc(100% - 335px);
  display: inline-block;
}

.search-content {
  background: rgba(226, 226, 226, 0.64);
  border: 1px solid #d5d5d5;
}

.error-message {
  position: absolute;
  margin-top: 5px;
  font-size: 12px;
}

.control-label:after {
  content: ' *';
  color: red;
}

.build-in-status {
  border-radius: 4px;
  width: 100px;
  text-align: center;
  display: inline-block;
}

.active-status {
  border-radius: 4px;
  width: 100px;
  text-align: center;
  display: inline-block;
}

.details-panel {
  background: white;
  padding: 2px;
}

.link {
  color: #3397ff;
}

.white-link {
  color: whitesmoke;
}

.disabled-link {
  color: #3397ff;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.disabled-link {
  pointer-events: none;
  color: gray;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-border {
  margin-bottom: 1px;
  border-bottom: 0.5px solid lightgrey;
}

.font-12 {
  font-size: 12px;
}

.font-10 {
  font-size: 10px;
}
