<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>
    Здравствуйте!
</p>
<p>
    Вы запросили смену текущего email адреса в личном кабинете Eca - service на адрес <b>${newEmail}</b>. Если Вы не делали такого запроса, пожалуйста, не отвечайте на данное сообщение.
</p>
<p>
    Для подтверждения запроса, пожалуйста, перейдите по ссылке: <a href="${changeEmailUrl}">${changeEmailUrl}</a>
</p>
<p>
    Ссылка действительна в течении ${validityHours}-ми часов.
</p>
</body>
</html>
