<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>
    Здравствуйте!
</p>
<p>
    Вы запросили смену текущего пароля в личном кабинете Eca - service. Если Вы не делали такого запроса, пожалуйста, не отвечайте на данное сообщение.
</p>
<p>
    Если вы подтверждаете свое желание изменить пароль, пожалуйста, перейдите по ссылке: <a href="${changePasswordUrl}">${changePasswordUrl}</a>
</p>
<p>
    Ссылка действительна в течении ${validityMinutes}-ти минут.
</p>
</body>
</html>
