<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      <p-table
        [value]="evaluationLogs"
        [rows]="25"
        [paginator]="true">
        <ng-template pTemplate="header">
          <tr>
            <td>Request UUID</td>
            <td>Classifier</td>
            <td>Classifier input options</td>
            <td>Training data</td>
            <td>Evaluation method</td>
            <td>Request creation date</td>
            <td>Evaluation start date</td>
            <td>Evaluation end date</td>
            <td>Status</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          <tr *ngFor="let evaluationLog of evaluationLogs">
            <td>{{ evaluationLog.requestId }}</td>
            <td>{{ evaluationLog.classifierName }}</td>
            <td></td>
            <td></td>
            <td>{{ evaluationLog.evaluationMethod }}</td>
            <td>{{ evaluationLog.creationDate }}</td>
            <td>{{ evaluationLog.startDate }}</td>
            <td>{{ evaluationLog.endDate }}</td>
            <td>{{ evaluationLog.evaluationStatus }}</td>
          </tr>
        </ng-template>
        <ng-template *ngIf="evaluationLogs.length == 0" pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="9" style="text-align: center;">
              No evaluation logs found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
