<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-2">
      <app-filter [filters]="filters" (search)="onSearch()"></app-filter>
    </div>
    <div class="col-10">
      <p-table
        class="evaluations-table"
        [columns]="columns"
        [value]="items"
        [rows]="pageSize"
        [totalRecords]="total"
        [paginator]="true"
        [scrollable]="true"
        [sortField]="defaultSortField"
        [sortOrder]="defaultSortOrder"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad($event)">

        <ng-template pTemplate="caption">
          <app-request-statuses-statistics
            [requestStatusStatisticsDto]="requestStatusStatisticsDto">
          </app-request-statuses-statistics>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let column of columns" [pSortableColumn]="column.name">
              {{ column.label }}
              <p-sortIcon [field]="column.label"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let column of columns">
              <a [routerLink]="" *ngIf="isLink(column.name)"
                 (click)="onSelect($event, item, column.name, infoPanel)">
                {{ getColumnValue(column.name, item) }}
              </a>
              <span *ngIf="!isLink(column.name)">{{ getColumnValue(column.name, item) }}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" *ngIf="items.length == 0">
          <tr>
            <td [attr.colspan]="columns.length" class="text-center">
              No evaluations found
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-overlayPanel #infoPanel [showCloseIcon]="true">
    <p-panel *ngIf="selectedEvaluationLog && selectedColumn" class="info-panel">
      <ng-container [ngSwitch]="selectedColumn">
        <ng-container *ngSwitchCase="'classifierName'">
          <ng-container *ngFor="let option of selectedEvaluationLog.inputOptions">
            <div class="ui-g">
              <div class="ui-g-6 text-right text-bold text-wrap">
                {{ option.optionName }}
              </div>
              <div class="ui-g-6 text-left text-wrap">
                {{ option.optionValue }}
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'evaluationMethod'">
          <div class="ui-g" *ngIf="selectedEvaluationLog.numFolds">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Number of folds:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.numFolds }}
            </div>
          </div>

          <div class="ui-g" *ngIf="selectedEvaluationLog.numTests">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Number of tests:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.numTests }}
            </div>
          </div>

          <div class="ui-g" *ngIf="selectedEvaluationLog.seed">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Seed:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.seed }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="instancesInfoColumn">
          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Instances number:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.numInstances }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Attributes number:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.numAttributes }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Classes number:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.numClasses }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Class name:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.className }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
        </ng-container>
      </ng-container>
    </p-panel>
  </p-overlayPanel>
</div>
