.evaluations-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 300px;
    &:first-child {
      width: 330px;
      font-weight: bold;
    }
    &:nth-child(8) {
      width: 330px;
    }
  }
  .ui-table-thead > tr > th {
    width: 300px;
    &:first-child, &:nth-child(8) {
      width: 330px;
    }
  }
}

.info-panel::ng-deep {

  .ui-panel {
    width: 450px;
    max-height: 600px;
    overflow-y: scroll;
  }
}
