<div class="container-fluid mb-5">
  <div class="row search-content mt-2">
    <div class="col-6 justify-content-start">
      <button
        pButton
        label="Сформировать отчет"
        icon="pi pi-file"
        type="button"
        (click)="generateReport()"
        class="ml-2 mt-2 mb-2">
      </button>
    </div>
    <div class="col-6">
      <div class="ui-inputgroup mr-2 mt-2 mb-2">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-search"></i>
        </span>
        <input
          type="text"
          pInputText
          placeholder="Поиск"
          maxlength="255"
          [(ngModel)]="searchQuery"
          (input)="onSearch()"
          class="w-100">
        <a *ngIf="searchQuery?.length > 0" [routerLink]="" (click)="clearSearchQuery()">
          <span class="ui-inputgroup-addon">
            <i class="fa fa-close"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="filter-sidebar">
      <app-filter [filters]="filters" (apply)="onApplyFilter()"></app-filter>
    </div>
    <div class="data-table">
      <p-table
        class="evaluations-table"
        [columns]="columns"
        [value]="items"
        [rows]="pageSize"
        [paginator]="true"
        [scrollable]="true"
        [sortField]="defaultSortField"
        [sortOrder]="defaultSortOrder"
        [lazy]="true"
        [loading]="loading"
        (onLazyLoad)="onLazyLoad($event)">

        <ng-template pTemplate="caption">
          <app-request-statuses-statistics
            [requestStatusStatisticsDto]="requestStatusStatisticsDto">
          </app-request-statuses-statistics>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let column of columns">
              <th *ngIf="!notSortable(column.name)" [pSortableColumn]="column.name">
                {{ column.label }}
                <p-sortIcon [field]="column.name"></p-sortIcon>
              </th>
              <th *ngIf="notSortable(column.name)">{{ column.label }}</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let column of columns">
              <a [routerLink]="" *ngIf="isLink(column.name)"
                 (click)="onSelect($event, item, column.name, infoPanel)">
                {{ getColumnValue(column.name, item) }}
              </a>
              <div *ngIf="!isLink(column.name)">
                <ng-container [ngSwitch]="column.name">
                  <ng-container *ngSwitchCase="'requestStatus.description'">
                   <app-request-status [requestStatus]="item.requestStatus"></app-request-status>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    <span>{{ getColumnValue(column.name, item) }}</span>
                  </ng-container>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" *ngIf="items.length == 0">
          <tr>
            <td [attr.colspan]="columns.length" class="text-center">
              Не найдено ни одной заявки
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-overlayPanel #infoPanel [showCloseIcon]="true">
    <p-panel *ngIf="selectedEvaluationLog && selectedColumn" class="info-panel">
      <ng-container [ngSwitch]="selectedColumn">
        <ng-container *ngSwitchCase="'classifierInfo.classifierName'">
          <ng-container *ngFor="let option of selectedEvaluationLog.classifierInfo.inputOptions">
            <div class="ui-g">
              <div class="ui-g-6 text-right text-bold text-wrap">
                {{ option.optionName }}
              </div>
              <div class="ui-g-6 text-left text-wrap">
                {{ option.optionValue }}
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'evaluationMethod.description'">
          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Число блоков:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ getNumFolds(selectedEvaluationLog) }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Число проверок:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ getNumTests(selectedEvaluationLog) }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Начальное значение (seed):
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ getSeed(selectedEvaluationLog) }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'instancesInfo.relationName'">
          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Число объектов:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.numInstances }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Число атрибутов:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.numAttributes }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Число классов:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.numClasses }}
            </div>
          </div>

          <div class="ui-g">
            <div class="ui-g-6 text-right text-bold text-wrap">
              Атрибут класса:
            </div>
            <div class="ui-g-6 text-left text-wrap">
              {{ selectedEvaluationLog.instancesInfo.className }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
        </ng-container>
      </ng-container>
    </p-panel>
  </p-overlayPanel>
</div>
