.evaluations-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 220px;

    &:first-child {
      width: 50px;
    }

    &:nth-child(2) {
      width: 315px;
      font-weight: bold;
    }

    &:nth-child(5) {
      width: 260px;
    }
  }

  .ui-table-thead > tr > th {
    width: 220px;

    &:first-child {
      width: 50px;
    }

    &:nth-child(2) {
      width: 315px;
      font-weight: bold;
    }

    &:nth-child(5) {
      width: 260px;
    }
  }
}

.info-panel::ng-deep {

  .ui-overlaypanel-content {
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
  }
}

.link-button {
  border-radius: 50%;
}

.classifier-options-menu::ng-deep {

  .ui-menubar {
    border: none;
    background: inherit;
    padding-top: 4px;
  }

  .main-menu-item {
    background: #e0e0e0;
  }

  .menu-item {
    text-align: start;
    align-content: center;
    justify-content: start;
    width: 300px;
  }

  .classifier-menu-item {
    text-align: start;
    align-content: center;
    justify-content: start;
    width: 375px;
  }
}
