.evaluations-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 300px;

    &:first-child {
      width: 330px;
      font-weight: bold;
    }

    &:nth-child(8) {
      width: 330px;
    }

    &:nth-child(9) {
      width: 360px;
    }
  }

  .ui-table-thead > tr > th {
    width: 300px;

    &:first-child, &:nth-child(8) {
      width: 330px;
    }

    &:nth-child(9) {
      width: 360px;
    }
  }
}

.info-panel::ng-deep {

  .ui-overlaypanel-content {
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
  }
}
