<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>
    Здравствуйте!
</p>
<p>
    Вы запросили смену текущего email адреса в личном кабинете Eca - service на адрес <b>${newEmail}</b>.
</p>
<p>
    Если вы отправляли этот запрос, просто проигнорируйте это письмо. Изменения вступят в силу после подтверждения на новом почтовом ящике.
</p>
<p>
    <b>ВАЖНО:</b> Если вы НЕ запрашивали смену email адреса, ваш аккаунт мог подвергнуться угрозе. Срочно отмените этот запрос и защитите свой аккаунт, перейдя по <a href="${revokeChangeEmailRequestUrl}">ссылке</a>.
</p>
</body>
</html>