.evaluation-results-history-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 175px;

    &:first-child {
      width: 50px;
    }

    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      width: 250px;
    }
  }

  .ui-table-thead > tr > th {
    width: 175px;

    &:first-child {
      width: 50px;
    }

    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      width: 250px;
    }
  }
}

.link-button {
  border-radius: 50%;
}

.info-panel::ng-deep {

  .ui-overlaypanel-content {
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
  }
}
