.evaluation-results-history-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 175px;

    &:first-child {
      width: 250px;
      font-weight: bold;
    }

    &:nth-child(1), &:nth-child(2) {
      width: 225px;
    }
  }

  .ui-table-thead > tr > th {
    width: 175px;

    &:first-child {
      width: 250px;
    }

    &:nth-child(1), &:nth-child(2) {
      width: 225px;
    }
  }
}

.info-panel::ng-deep {

  .ui-overlaypanel-content {
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
  }
}
