.details-fieldset::ng-deep {

  .ui-fieldset {
    margin: 8px 3px 3px 3px;
    border: none;
  }

  .ui-fieldset-legend {
    font-weight: bold;
    font-size: 16px;
    border: none;
  }
}

.abbreviated-user-name {
  border: 3px solid #a2a2a2;
  background: #a2a2a2;
  color: white;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-header {
  background: #d3d3d3;
  padding: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.user-info-panel {
  background: white;
  border: 1px solid #d3d3d3;
}

.bottom-border {
  margin-bottom: 1px;
  border-bottom: 0.5px solid lightgrey ;
}
