.details-fieldset::ng-deep {

  .ui-fieldset {
    margin: 8px 3px 3px 3px;
    border: none;
  }

  .ui-fieldset-legend {
    font-weight: bold;
    font-size: 16px;
    border: none;
  }
}

.abbreviated-user-name {
  border: 3px solid #a2a2a2;
  background: #a2a2a2;
  color: white;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-header {
  background: #d3d3d3;
  padding: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.user-info-panel {
  background: white;
  border: 1px solid #d3d3d3;
}

.bottom-border {
  margin-bottom: 1px;
  border-bottom: 0.5px solid lightgrey ;
}

.user-photo-upload::ng-deep {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .ui-button {
    border: 3px solid #a2a2a2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #a2a2a2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 34px;
    font-size: 36px;
    font-weight: bold;

    &:hover {
      background-color: #c9c9c9;
      border: 1px solid #c9c9c9;
    }
  }

  .ui-button-icon-only .ui-button-icon-left,
  .ui-button-text-icon-left .ui-button-icon-left,
  .ui-button-text-icon-right .ui-button-icon-right {
    display: none;
  }
}

.user-photo-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  background-color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  &.ui-button {
    width: 50%;
    height: 50%;
    &.ui-state-default {
      border-color: #000000;
      background-color: #000000;
      &:hover,
      &:focus,
      &:enabled:active {
        border-color: #000000;
        background-color: #000000;
      }
    }
  }
}

.user-photo-container:hover .overlay {
  opacity: 0.6;
}
