<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-6 offset-3 align-items-center justify-content-center">
      <div class="h-100 user-header w-100">
        <ng-container *ngIf="hasPhoto()">
          <div class="user-photo-container">
            <img class="user-photo" [src]="getBlobUrl()">
            <button
              pButton
              class="overlay"
              icon="pi pi-camera"
              (click)="userPhotoMenu.toggle($event)">
            </button>
          </div>
        </ng-container>
        <p-fileUpload [class.user-photo-upload]="!hasPhoto()"
                      [class.hidden-user-photo-upload]="hasPhoto()"
                      mode="basic"
                      [maxFileSize]="maxFileSize"
                      [invalidFileSizeMessageSummary]="invalidFileSizeMessageSummary"
                      [invalidFileSizeMessageDetail]="invalidFileSizeMessageDetail"
                      [invalidFileTypeMessageSummary]="invalidFileTypeMessageSummary"
                      [invalidFileTypeMessageDetail]="invalidFileTypeMessageDetail"
                      chooseLabel="{{ getAbbreviatedUserName() }}"
                      customUpload="true"
                      (uploadHandler)="onPhotoUpload($event)"
                      [auto]="true"
                      accept="image/*">
        </p-fileUpload>
        <p-progressSpinner
          class="upload-progress-spinner"
          strokeWidth="4"
          animationDuration=".5s"
          *ngIf="uploading">
        </p-progressSpinner>
        <div class="user-name text-center mb-1">{{ user?.login }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="h-100 user-info-panel">
        <p-fieldset legend="Основная информация" class="details-fieldset">
          <div class="ui-g bottom-border ml-1 mr-1" *ngFor="let field of commonFields">
            <div class="ui-g-4 text-left text-bold text-wrap">
              {{ field.label }}
            </div>
            <div class="ui-g-4 text-left text-wrap">
              <ng-container [ngSwitch]="field.name">
                <ng-container *ngSwitchCase="'tfaEnabled'">
                  <p-inputSwitch [(ngModel)]="tfaEnabled" (onChange)="changedTfaSwitch($event)"></p-inputSwitch>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ getValue(field.name) }}
                </ng-container>
              </ng-container>
            </div>
            <div class="ui-g-4 text-left text-wrap">
              <ng-container [ngSwitch]="field.name">
                <ng-container *ngSwitchCase="'password'">
                  <a class="link" [routerLink]="" (click)="showChangePasswordRequestDialog()">Изменить</a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </p-fieldset>

        <p-fieldset legend="Контакты" class="details-fieldset">
          <div class="ui-g ml-1 mr-1">
            <div class="ui-g-4 text-left text-bold text-wrap">
              Email:
            </div>
            <div class="ui-g-4 text-left text-wrap">
              {{ user?.email }}
            </div>
            <div class="ui-g-4 text-left text-wrap">
              <a class="link" [routerLink]="" (click)="showChangeEmailDialog()">Изменить</a>
            </div>
          </div>
        </p-fieldset>
      </div>
    </div>
  </div>
  <p-menu #userPhotoMenu [popup]="true" [model]="userMenuItems"></p-menu>
</div>

<app-confirm-dialog [visible]="hasErrors()"
                    (closedEvent)="hideUploadPhotoErrorModal()"
                    [header]="uploadPhotoErrorHeader">
  <div content>
    <div class="text-danger">
      <div *ngFor="let msg of fileUpload.msgs">
        {{ msg.summary }} {{ msg.detail }}
      </div>
    </div>
  </div>
</app-confirm-dialog>

<app-confirm-dialog [visible]="changePasswordRequestCreated"
                    (closedEvent)="hideChangePasswordRequestCreatedModal()">
  <div content>
    <div class="text-center justify-content-center align-items-center d-flex">
      {{ changePasswordRequestCreatedMessage }}
    </div>
  </div>
</app-confirm-dialog>

<app-change-password-dialog [visible]="changePasswordDialogVisibility"
                            [item]="changePasswordRequest"
                            (visibilityChange)="onChangePasswordDialogVisibility($event)"
                            (itemEvent)="onCreateChangePasswordRequest()">
</app-change-password-dialog>

<app-update-user-email [visible]="changeEmailDialogVisibility"
                       [item]="user?.email"
                       (visibilityChange)="onChangeEmailDialogVisibility($event)"
                       (itemEvent)="onChangeEmail()">
</app-update-user-email>
