<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<p-toast key="push">
  <ng-template let-message pTemplate="message">
    <ng-container [ngSwitch]="message.data.messageType">
      <ng-container *ngSwitchCase="'EXPERIMENT_STATUS'">
        <div class="ui-g align-items-center justify-content-center text-bold text-center">
          {{ message.summary }}
        </div>
        <div class="ui-g mx-auto d-flex align-items-center justify-content-center">
          <a [routerLink]="" class="text-bold white-link" (click)="onLinkClick(message.data)">Открыть заявку</a>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="ui-g align-items-center justify-content-center text-bold text-center">
          {{ message.summary }}
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</p-toast>
<router-outlet></router-outlet>
