<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-2 pl-2">
    <p-panel class="statistics-panel text-center" [showHeader]="false">
      <p class="attr">Всего</p>
      <p class="value">{{ requestStatusStatisticsDto?.totalCount }}</p>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-2">
    <p-panel class="statistics-panel text-center" [showHeader]="false">
      <p class="attr">Новые</p>
      <p class="value">{{ requestStatusStatisticsDto?.newRequestsCount }}</p>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-2">
    <p-panel class="statistics-panel text-center" [showHeader]="false">
      <p class="attr">В работе</p>
      <p class="value">{{ requestStatusStatisticsDto?.inProgressRequestsCount }}</p>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-2">
    <p-panel class="statistics-panel text-center" [showHeader]="false">
      <p class="attr">Завершено</p>
      <p class="value">{{ requestStatusStatisticsDto?.finishedRequestsCount }}</p>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-2">
    <p-panel class="statistics-panel text-center" [showHeader]="false">
      <p class="attr">С ошибкой</p>
      <p class="value">{{ requestStatusStatisticsDto?.errorRequestsCount }}</p>
    </p-panel>
  </div>

  <div class="ui-g-12 ui-md-2 pr-2">
    <p-panel class="statistics-panel text-center" [showHeader]="false">
      <p class="attr">Таймаут</p>
      <p class="value">{{ requestStatusStatisticsDto?.timeoutRequestsCount }}</p>
    </p-panel>
  </div>
</div>
