.requests-table::ng-deep {

  .ui-table-tbody > tr > td {
    width: 300px;
    &:first-child {
      width: 330px;
      font-weight: bold;
    }
  }
  .ui-table-thead > tr > th {
    width: 300px;
    &:first-child {
      width: 330px;
    }
  }
}

.evaluation-method-content {
  width: 450px;
}

.load-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
