.requests-table::ng-deep {

  .ui-table {
    margin-top: 15px;
  }

  .ui-table-tbody > tr > td {
    word-wrap: break-word;
    width: 300px;
    &:first-child {
      width: 330px;
      font-weight: bold;
    }
  }
  .ui-table-thead > tr > th {
    word-wrap: break-word;
    width: 300px;
    &:first-child {
      width: 330px;
    }
  }
}

.json-config {
  background-color: #e6e6e6;
  width: 500px;
  max-height: 600px;
  overflow-y: scroll;
}

.evaluation-method-content {
  width: 450px;
}

.load-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
