.requests-table::ng-deep {

  .ui-table {
    margin-top: 15px;
  }

  .ui-table-tbody > tr > td {
    word-wrap: break-word;
    width: 300px;
    &:first-child {
      width: 330px;
      font-weight: bold;
    }
  }
  .ui-table-thead > tr > th {
    word-wrap: break-word;
    width: 300px;
    &:first-child {
      width: 330px;
    }
  }
}

.overlay-panel::ng-deep {

  .ui-panel {
    width: 475px;
    max-height: 600px;
    overflow-y: scroll;
  }
}
